/* Ерөнхий тохиргоо */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

/* Эхний хуудас */
#page1 {
    background: linear-gradient(45deg, #ff6f61, #6a98d1, #f3b230);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: white;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* Шинэ жилийн уур амьсгалтай фон хөдлөх эффект */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Уриа, товчны хүндэтгэлийн дизайн */
.invitation h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.invitation p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    background-color: #ff4a39;
}

/* Хоёрдугаар хуудас */
#page2 {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.seat-info h2 {
    font-size: 2.5em;
    color: #3b8e7f;
    margin-bottom: 20px;
}

.seat-info p {
    font-size: 1.2em;
    color: #333;
}

@media (max-width: 768px) {
    #page1, #page2 {
        padding: 30px;
    }

    .invitation h1 {
        font-size: 2.5em;
    }

    .invitation p {
        font-size: 1em;
    }

    button {
        padding: 12px 24px;
        font-size: 1.2em;
    }

    .seat-info h2 {
        font-size: 2em;
    }

    .seat-info p {
        font-size: 1.1em;
    }
}
